h4{
  color:white;
  font-family: open-sans;
}

.aboutContainer{
  overflow:auto;
  width:100%;
  height:100%;
}
.centralized{
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

/* Button bar */
#buttonBarContainer{
  background-color:#FFFFFF;
  color:black;
  height:100%;
  padding-bottom:2.5%;
  user-select: none;
}

#buttonBar{
  height: 100%;
  width: 70%;
  text-align: center;
  background-color: white;
}


#buttonBar div{
  transition: color 0.5s;
  color:black;
  float:left;
  width:25%;

}
#buttonBar div:hover{
  color:grey;
  float:left;
  width:25%;
}

#buttonBar div i{
  float:left;
  width:100%;
  height:100%;
}

/*  */
#aboutUsContainer{
  background-color:#E5E5E5;
  width:100%;
}
#aboutUsMainStatement{
  width:60%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
#aboutUs{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
#WhyEPRM,#howEPRMWork, #OurObjectives{
  height: 100%;
  width: 100%;
  position:relative;
  overflow:auto;

}
/* purely for the mobile view */
#howEPRMWorkMobileImage{
  display:none;
}

.aboutUsText{
  overflow:auto;
  float:left;
  width: 50%;
  height:100%;
  text-align: left;
}
.aboutUsImg{
  position:relative;
  float:left;
  width:50%;
  height:100%;
  padding-top:5%
}
.aboutUsImg img{
  position:relative;
  left:10%;
  width:80%;
  height:80%;
}
#img3Container{
  position:relative;
  padding-top:10%;
}

#ourPurposeContainer{
  background-color: #FFFFFF;
  padding-top:5%;
  padding-bottom:5%;
}
#ourPurpose{
  width:50%;
  text-align:center;
}

#ourStructureContainer{
  background-color:#E5E5E5;
}
#ourStructure{
  width:80%;
  height:100%;
}
#ourStructure p, #ourStructure h2, #ourStructure h3{
  color:white;
}
#ourStructureControll{
  width:80%;
  overflow:auto;
  text-align: center;
  background-color: rgba(86, 204, 246, 0.51);
}
#ourStructureControll .structureButtonBar{
  height: 80%;
  width: 70%;
}
.structureButton{
  transition: color 0.5s;
  position:relative;
  float:left;
  width:25%;
  user-select: none;
}
.structureButton:hover, .structureButton i:hover{
  transition:color 0.5s;
  color:gray;
  cursor:pointer;
}

#ourStructureDisplay{
  overflow:auto;
  text-align:center;
  width:80%;
  background-color: rgb(86, 204, 246);
}

#ourMembersContainer{
  background-color:#FFFFFF;
}

#ourMembers{
  text-align:center;
  height:450px;
  background-color:#DCD9D9;
  color:rgba(128,128,128,0.75);
}
.membersTitleContainer{
  width:100%;
  float:left;
}
.membersTitle{
  width:33%;
  float:left;
  height:100%;
}

.topMembers{
  width:100%;
  height:50px;
}

.members{
  padding:20px 0px 20px 0px;
  height:100%;
  float:left;

}
.threeMembers{
  height:100%;
  width:25%;
}

.centerMembers{
  height:100%;
  width:50%;
}

.logoMembers{
  position:relative;
  left:15%;
  height: 5vw;
  width: 6vw;
  float:left;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  padding-bottom:0;
}
.logoMembers:hover{
  transition: box-shadow 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px #C32323;
}
.logoThreeMembers{
  width:20%;
  margin-right:5%;
}
.logoSixMembers{
  width:calc(10%);
  margin-right:2.5%;
}

.membersTitleLeft{
  position:relative;
  right:2.5%;
}
.membersTitleRight{
  position:relative;
  left:2.5%;
}




  @media all and (max-width:900px){
    .material-icons.md-48 { font-size: 40px }
    #buttonBar a div h2{
      font-size: 15px;
    }
    #ourStructureControll h2, #ourStructureDisplay h2{
      font-size:25px;
    }
    #ourStructureControll h3, #ourStructureDisplay p{
      font-size:10px;
    }
    .logoMembers{
      height: 50px;
      width: 50px;
      left:3%;
    }
    .membersTitle h3{
      font-size: 20px;
    }
    @media all and (max-width:750px){
      .logoMembers{
        height:42px;
        width:42px;
        left:5%;
      }
      .membersTitle h3{
        font-size: 16px;
      }
    }
@media all and (max-width:750px){
  .logoMembers{
    height:35px;
    width:35px;
    left:2%;
    }

  @media all and (max-width:430px){
    #buttonBar a div h2{
      font-size: 12px;
    }
    #howEPRMWorkMobileImage{
    display:inline;
    }
    #howEPRMWorkDesktopImage{
    display:none;
    }
    #ourPurpose{
    width:80%;
    }
    #aboutUsMainStatement{
    width:90%;
    }
    #ourStructureControll, #ourStructureDisplay, #aboutUsContent div{
    width:100%;
    }
    #ourStructureControll h2, #ourStructureDisplay h2{
    font-size:25px;
    }
    #ourStructureControll h3, #ourStructureDisplay p{
    font-size:10px;
    }
  }
}
