#head{
    background-color: #DCD9D9;
    height: 100px;
    width: 100%;
}

@media all and (max-width: 680px){
    #allHeaderButtons{
        position: absolute;
        left: 0px;
        top: 40px;
    }

    #headerLogo{
        position: absolute;
        top: 1px;
        left: 1px;
        height: 34px;
        width: 200px;
        border: 1px solid black;
    }
}

@media all and (min-width: 681px){
    #allHeaderButtons{
        position: absolute;
        right: 31px;
        top: 31px;
    }
    #headerLogo{
        position: absolute;
        top: 32px;
        left: 32px;
        height: 34px;
        width: 200px;
        border: 1px solid black;
    }
}

.buttons {
    font-family: 'Raleway', sans-serif;
    font-style: ExtraBold;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 10%;
    text-transform: uppercase;
    background-color:  #DCD9D9;
    border: 0;
    color: black;
}

@media all and (max-width: 401px){
    .buttons{
        font-size: 15px;
    }
    #allHeaderButtons{
        top: 50px;
    }
}

.buttons:hover, #getInvolvedButton:hover{
    background-color: darkgray;
}

#getInvolvedButton{
    background-color: white;
}

#transparentBackground{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#clickBoxDiv{
    position: fixed;
    width: 25%;
}

#clickBoxDiv:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#clickBox1{
    position: relative;
    border: 1px black;
    height: 100%;
    width: 50%;
    background-color: black;
}

#clickBox2{
    
}