@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,500');

html, body{
    margin:0;
    padding:0;
    background-color: white;
}

header {
    /* width:100vw; */
    height:5vh;
    background-color: #DCD9D9;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    line-height: 87px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 49px;
    font-weight: 400;
}

h3 {
    font-family: 'Raleway';
    font-weight:400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

p, ul{
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 25px;
}

a {
    color: #E74111;
    text-decoration: none;
}
a:hover {
    color: #810000;
}

.bannerImg {
    /* width:100vw; */
    height:40vh;
    /* background-image:url('../img/bannerCfp.jpg'); */
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}

.aboutBanner {background-image:url("../img/bannerAbout.jpg");}
.faqBanner { background-image:url('../img/bannerFaq.jpg'); }
.cfpBanner { background-image:url('../img/bannerCfp.jpg'); }
.fmBanner { background-image:url('../img/bannerFm.jpg'); }

.bannerBlurry{
    width:100vw;
    height:40vh;
    position: absolute;
    top: -33vh;
    left: -20vw;
    /* background-image: url('../img/bannerCfp.jpg'); */
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    z-index: 0;
    filter:blur(10px);
}
.bannerText {
    z-index: 1;
    position: relative;
}

.bannerTitle{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:60vw;
    /* background:#DCD9D9; */
    height:1.7em;
    font-size:2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
}
.linkText{
    position: absolute;
    font-size:0.4em;
    right:0;
}

.content{
    width:59vw;
    margin: auto;
    /* background:red; */
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    box-sizing: border-box;
}
.buttonContainer{
    /* position:relative; */
    height:8em;
    /* overflow:hidden; */
    text-align: center;
}
.bigButton{
    height:8vh;
    /* width:15vh; */
    /* border:4px solid black; */
    margin:0 auto;
    display: inline-block;
    transition: all 0.5s;
}

.material-icons.md-48 { font-size: 90px }

#buttonFaqText{
    filter:opacity(0);
    color:#02a19c;
    font-size:1.8em;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}
#buttonFmText{
    filter:opacity(0);
    color:#02a19c;
    font-size:1.8em;
    font-family: 'Open Sans', sans-serif;
}


/* News CSS */

.newsBanner { background-image:url('../img/NewsImages/newsBanner.jpg'); }

#newsWrapper{
	box-sizing: border-box;
	position: relative;
	min-height: 100vh;
}

.articleList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#articles {
	position: absolute;
	top: 5%;
	left: 10%;
	overflow: scroll;
	height: 85%;
	width: 47vw;
}

#articles>ul>li {border-bottom: solid 2px #DCD9D9;}

#articles div {display: none;}

.articleContent {display: none;}

::-webkit-scrollbar { /*hides the scrollbar next to the articles*/
    width: 0px;
    background: transparent;
}

.date{
	display: inline-block;
}

.author{
	display: inline-block;
	font-style: italic;
}

#righthandside{
	position: absolute;
	font-family: 'Raleway';
	top: 5%;
	left: 62%;
	right: 10%;
}

@media screen and (max-width: 1340px){
	 #righthandside {
		 display: none;
	 }
	 #articles{
		 width: 80%;
	 }
}

.footerRight {
    float:left;
    position:relative;
    left:10%;
    z-index:2;
}

.footerLeft {
    float:left;
    position:relative;
    margin-left:10%;
    z-index:2;
}

.footer {
    position:fixed;
    /* bottom:10px; */
    height: 150px;
    background-color:#C32323;
    color:white;
    font-family:"Open Sans", sans-serif;
    position:relative;
}

.footerImg {
    position:absolute;
    bottom:0px;
    right:0px;
    height:150px;
    z-index:1;
    opacity:0.5;
}
@media screen and (max-width: 600px){
    .content{
        width:90vw;
    }
    .bannerTitle{
        font-size:1.2em;
    }
    .footerRight {
        left:4%;
    }
}


#articleImages>img {
	display: none;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

#articleImages .activeImage{
	display: block;
}

#calendar {
	list-style-type: none;
	margin-bottom: 20px;
}

#subContainer{
	position: relative;
}

#subscribe{
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 50px;
	background: #C32323;
	color: white;
	text-align: center;
}

#subscribe>h3 {
	position: relative;
	bottom: 10px;
}

#email{
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	color: Black;
	text-align: center;
	padding: 10px;
	Font-Size: 22px;
	Line-Height: 28px;
	Letter-Spacing: 2px;
	border-color: #C32323;
}

.month{
	width: 100%;
    background: #C32323;
    text-align: center;
}

.month ul{
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

.month ul li{
	color: White;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.month .prev{
	float: left;
	padding-top: 10px;
}

.month .next{
	float: right;
	padding-top: 10px;
}

#months li{
	display: none;
}

#months .activeMonth{
	display: inline-block;
}

.weekdays{
	text-align: center;
	margin: 0;
	padding: 10px 3px;
	background-color: #ddd;
}

.weekdays li{
	display: inline-block;
	width: 12%;
	color: #666;
}

#days{
	padding: 10px 0 0 10px;
	background: #eee;
	margin: 0;
}

#days li{
	display: inline-block;
	width: 5%;
	text-align: center;
	font-size: 12px;
	color: #777;
	padding: 10px;
	margin: 5px;
}

#days .activeDate{
	background: #C32323;
    color: white;
}

/*Projects CSS*/

.projectsBanner { background-image:url('../img/ProjectImages/projectsBanner.jpg'); }

#map{width:100%;}

.imageID {
	display: none;
}

#articleImages .activeMap{
	display: block;

	transition: opacity 1s;
}


footer {
    width:100vw;
    height:20vh;
    background-color: #C32323;

}
